.hero {
    padding: 60px 20px;
    background: linear-gradient(to right, #282c34, #3a3f47);
    color: white;
    text-align: center;
}

.cta-button {
    background-color: #61dafb;
    color: black;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 200px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #21a1f1; /* Darker shade on hover */
}

.cta-main {
    font-size: 22px;
    font-weight: bold;
    display: block;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.cta-sub {
    font-size: 14px;
    display: block;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
