.form-wrapper {
  max-width: 500px;
  margin: 4rem auto;
  padding: 2rem;
  background: linear-gradient(to right, #5bb3ee, #188cff);
  border-radius: 20px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}

.lend-form input,
.lend-form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1rem;
  transition: border-color 0.2s ease-in;
}

.lend-form input:focus,
.lend-form textarea:focus {
  border-color: #1e90ff; 
}

.lend-form button {
  background-color: #000a03; 
  color: #fff;
  border: none;
  padding: 0.9rem 1.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease-in;
}

.lend-form button:hover {
  background-color: #e64a19; /* Darker shade on hover */
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
